extends ./layout/index

block contenido
  .container
    .row.justify-content-center
      .col-md-6
        h1.text-center #{titulo}
        if errores
          .alert.alert-danger
            ul
              each error in errores
                li= error.mensaje
        form(action="/login" method="POST")
          .form-group
            label(for="email") Correo Electrónico
            input#email.form-control(type="email" name="email" required)
          .form-group
            label(for="password") Contraseña
            input#password.form-control(type="password" name="password" required)
          button.btn.btn-primary.btn-block(type="submit") Iniciar Sesión
